.idea/
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.db
*.h5
modeller/output/
inference/output/
**/notes.md

frontend/apollo/node_modules
frontend/apollo/.DS_Store
frontend/apollo/dist
frontend/apollo/dist-ssr
frontend/apollo/*.local

**/.terraform
*.lock.hcl
**/variables.tf
*.tfstate
*.tfstate.backup

**/temp.yml